@model IEnumerable<Post>

@{
    ViewData["Title"] = "Blog İçerikleri";
}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Blog Siteme Hoş Geldiniz!</h1>
            <p class="lead mb-0">Tüm blog gönderileri</p>
        </div>
    </div>
</header>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card mb-4">
                <a href="/Posts/Detail/@item.Id"><img class="card-img-top" src="/Img/@item.Image" alt="@item.Image"></a>
                <div class="card-body">
                    <div class="small text-muted">@item.CreateDate</div>
                    <h2 class="card-title h4">@item.Name</h2>
                    <p class="card-text">
                        @item.Description
                    </p>
                    <a class="btn btn-primary" asp-controller="Posts" asp-action="Detail" asp-route-id="@item.Id">Devamını Oku →</a>
                </div>
            </div>
        </div>
    }
</div>